.NavBar a,
.NavBar button {
	margin: 0 5px;
	cursor: pointer;
}

.NavBar {
	/* margin-bottom: 20px; */
	font-family: Georgia, 'Times New Roman', Times, serif;

}

a {
	color: white;
}

html {
	background: #002F87;
}

input[type='text'] {
	background-color: white;
	width: 250px;
	margin: 0px 0px 20px 0px;
}

input[type='password'] {
	background-color: white;
	width: 250px;
	margin: 0px 0px 20px 0px;
}

button {
	background: #B0946D;
	border: none;
	width: 250px;
	/* margin-left: -10px; */
	font-size: 2rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-transform: none;

}

.homeHeader{
	background: #B0946D;
	text-align: center;
	color: #ffffff;
	width: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top: 20px;
}

h3{
	font-size: 2.6rem
}